anytree==2.4.3
appdirs==1.4.3
backcall==0.1.0
Beaker==1.8.1
certifi==2018.4.16
chardet==3.0.4
decorator==4.2.1
flake8==3.5.0
get==1.0.2
gpodder==3.10.1
greenlet==0.4.13
idna==2.6
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.11.1
lxml==4.2.1
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
msgpack==0.5.6
mygpoclient==1.8
neovim==0.2.4
packaging==16.8
parso==0.1.1
pbr==4.0.2
pexpect==4.5.0
pickleshare==0.7.4
podcastparser==0.6.3
post==1.0.1
powerline-status==2.6
prompt-toolkit==1.0.15
psutil==5.4.3
ptyprocess==0.5.2
public==1.0.2
pycairo==1.16.3
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pygobject==3.28.2
pyparsing==2.2.0
query-string==1.0.1
ranger-fm==1.9.1
request==1.0.1
requests==2.18.4
setproctitle==1.1.10
simplegeneric==0.8.1
six==1.11.0
slip==0.6.5
slip.dbus==0.6.5
stevedore==1.28.0
team==1.0
traitlets==4.3.2
urllib3==1.22
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
